.bookItem {
    border-radius: .28571429rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.imageContainer {
    width: 100%;
}
.imageContainer img {
    width: 100%;

}
.details {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.title {
    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
    line-height: initial;
    text-transform: capitalize;
}
.description {
    color: rgba(0, 0, 0, 0.68);
    text-align: justify;
    margin: 0.5em 0;
}