@import './product-sans.css';
@import './animation.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ProductSans', sans-serif !important;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
.ui.dropdown { padding: 20px 10px }
.ui.dropdown > .text {

  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}