@import './product-sans.css';
@import './animation.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ProductSans', sans-serif !important;
  line-height: 1.6;
  font-size: 18px;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e5e5e5;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #7c7fa3;
  border-radius: 10px;
}
* {
  box-sizing: border-box;
}
.ui.dropdown { padding: 20px 10px }
.ui.dropdown > .text {

  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
/* Button Design */

.action-button {
  border-radius: 3px;
  background: #c82127;
  background: linear-gradient(247deg,#c82127 33%,#ff656b 100%);
  border: none;
  color: #fff;
  display: -webkit-box;
  display: flex;
  height: 37.26px;
  justify-content: space-around;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  font-family: 'ProductSans', sans-serif !important;
}
.action-button:hover {
  color: #fff;
  background: linear-gradient(247deg,#c82127 10%,#ff656b 100%);

}
.action-button:focus {
  outline: none;
}

.carousel .slide { background: transparent !important; }
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000 !important;
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #000;
  font-size: 26px;
  bottom: 0;
  margin: auto !important;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.carousel .control-dots .dot {
  box-shadow: 0px 0px 7px rgba(0,0,0,0.9) !important;
}
.carousel .control-dots .dot:focus { outline: none; }

.sticky-header >  .ui.sticky.fixed.top { background-color: #fff; }
